<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<%= link_to "New Agreement via Upload", '/agreements/new', class: "btn btn-primary" %>
<%= link_to "New Agreement via Template", '/template/new', class: 'btn btn-primary' %>
<%= link_to "New Agreement via PDF Form Fields", '/pdf_agreements/new', class: 'btn btn-primary' %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Names</th>
         <th>Download Link</th>
         <th>Pre-generated Link</th>
         <th>On-Demand Link</th>
         <th>Status </th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @agreements.each do |a| %>
         <tr>
            <td><%= a.names %></td>
            <td><%= link_to "Download Agreement", a.attachment_url %></td>
            <td><%= link_to "Preview URL", a.preview_url, target: "_blank" %></td>
            <td><%= link_to "On-Demand URL", "/pdf_agreements/preview?id=#{a.id}", target: "_blank" %></td>
            <td><%= a.status %></td>
            <td><%= button_to "Delete",  a, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{a.names}?" %></td>
         </tr>
      <% end %>
   </tbody>

</table>
