<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<%= link_to "New Resume", '/agreements/new', class: "btn btn-primary" %>

<table class = "table table-bordered table-striped">
   <thead>.
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th>Status </th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @agreements.each do |a| %>
         <tr>
            <td><%= a.name %></td>
            <td><%= link_to "Download Agreement", a.attachment_url %></td>
            <td><%= a.status %></td>
            <td><%= button_to "Delete",  a, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{a.name}?" %></td>
         </tr>
      <% end %>
   </tbody>

</table>
