<% if !@agreement.errors.empty? %>
   <div class = "alert alert-error">
      <ul>
         <% @agreement.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
   </div>
<% end %>

<div class = "well">
   <%= form_for @agreement, html: { multipart: true } do |f| %>
      <%= f.label :names %>
      <%= f.text_field :names %>
      <br />

      <%= f.label :emails %>
      <%= f.text_field :emails %>
      <span>Please seperate emails by commas :)</span>
      <br />

      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <br />

      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
